<% if (!is_year()) { %>

<div class="row content-archive">
    
    <h2 class="archive-title">Sitemap</h2>
    
    <div class="col-1-3">
        
        <h3>Archives</h3>
        
        <%- list_archives() %>
        
    </div>
    
    <div class="col-1-3">
        
        <h3>Categories</h3>
        
        <%- list_categories() %>
        
    </div>
    
    <div class="col-1-3">
        
        <h3>Tags</h3>
        
        <%- list_tags() %>
        
    </div>
    
</div>

<% } else { %>

<div class="row content-archive">
    
    <h2 class="archive-title"><%= page.year + '/' + page.month %></h2>
    
    <ul class="archive-post">
        
        <% page.posts.each(function(article){ %>
        
            <li>
                
                <p class="archive-date"><a href="<%- url_for(article.path) %>"><%= date(article.date) %></a></p>
                
                <% if (article.link) { %>
        
                <h3 class="title-link">
                    <a href="<%- url_for(article.link) %>" title="<%= article.link %>" target="_blank"><%= article.title %></a>
                </h3>
        
                <% } else { %>
                
                <h3><a href="<%- url_for(article.path) %>"><%= article.title %></a></h3>
                <% } %>
                
            </li>
        
        <% }) %>
        
    </ul>

    <%- partial('_partial/nav-archive') %>
    
    
</div>

<% } %>
